<div local-class="article_component_container">
  <div local-class="article_header_container">
    <div local-class="article_header">
      <h1>{{@articleTitle}}</h1>
      <p>Written by <a href="https://www.roderickdevelopers.com/">Roderick Developers</a> & <a
          href="https://github.com/orgs/Design-Monster/projects/2">Design Monster</a></p>
      <p>{{@creator}}</p>
      {{#if @blogSubjectLink}}
      <p>Find it HERE: <a href="{{@blogSubjectLink}}">{{@articleTitle}}</a></p>
      {{/if}}
    </div>
  </div>
  <div local-class="article_content_container">
    <div local-class="article_content">
      <p>{{@paragraphOne}}</p>
    </div>
    <div local-class="article_content">
      <p>{{@paragraphTwo}}</p>
    </div>
    <div local-class="article_content">
      <p>{{@paragraphThree}}</p>
    </div>
    <div local-class="article_content">
      <h1>{{@headerOne}}</h1>
      <p>{{@paragraphFour}}</p>
    </div>
    {{#if @headerOne}}
    <div local-class="article_content">
      <p>{{@paragraphFive}}</p>
    </div>
    {{/if}}
    <div local-class="article_content">
      <p>{{@paragraphSix}}</p>
    </div>
    <div local-class="article_content">
      <p>{{@paragraphSeven}}</p>
    </div>
    <div local-class="article_content">
      <h1>{{@headerTwo}}</h1>
      <p>{{@paragraphEight}}</p>
    </div>
    <div local-class="article_content">
      <p>{{@paragraphNine}}</p>
    </div>
    <div local-class="article_content">
      <p>{{@paragraphTen}}</p>
    </div>
    <div local-class="code_content">
      <p>// This is our component of ember-mobile-menu in application.hbs<br>{{@codePathOne}}<span
          local-class="code_output"><br>{{@codeOne}}</span></p>
    </div>
    <div local-class="article_content">
      <p>{{@paragraphEleven}}</p>
    </div>
    <div local-class="article_content">
      <h1>{{@headerThree}}</h1>
      <p>{{@paragraphTwelve}}</p>
    </div>
    <div local-class="article_content">
      <h1>{{@headerFour}}</h1>
      <p>{{@paragraphThirteen}}</p>
    </div>
    <div local-class="article_content">
      <p>{{@paragraphFourteen}}</p>
    </div>
    <div local-class="code_content">
      <p>
        {{@codePathThree}}<br>&nbsp;&nbsp;&nbsp;{{@codePathFour}}<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{@codePathFive}}<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// This is where the Ui for the actual menu would go.<br>&nbsp;&nbsp;&nbsp;{{@codePathSix}}<br><br>&nbsp;&nbsp;&nbsp;&nbsp;{{@codePathSeven}}<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{@codePathEight}}<span
          local-class="code_output"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{@codeTwoOutlet}}</span><br>&nbsp;&nbsp;&nbsp;&nbsp;{{@codePathNine}}<br>{{@codePathTen}}
      </p>
    </div>
    <div local-class="article_image_container">
      <img src="{{@imageOne}}" alt={{@imageAltOne}}>
    </div>
    <div local-class="article_content">
      <p>{{@paragraphFifteen}}</p>
    </div>
    {{#if @gitCodePathTwo}}
    <div local-class="code_content">
      <p>{{@codePathTwo}}<span local-class="code_output">{{@codeTwo}}</span></p>
    </div>
    {{/if}}
    <div local-class="article_content">
      <p>{{@paragraphSixteen}}</p>
    </div>
    <div local-class="code_content">
      <p>// This is our ember-mobile-menu component called in block form with an \{{outlet}} rendering to the \{{yield}} that can be found in the ember-mobile-menu content section <br>{{@codePathTwo}}<br><span
          local-class="code_output">{{@codeTwoOutlet}}</span><br>{{@codePathTwo}}</p>
    </div>
    <div local-class="article_content">
      <p>{{@paragraphSeventeen}}</p>
    </div>
    <div local-class="code_content">
       <p>
        {{@codePathThree}}<br>&nbsp;&nbsp;&nbsp;{{@codePathFour}}<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{@codePathFive}}<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// This is where the Ui for the actual menu would go.<br>&nbsp;&nbsp;&nbsp;{{@codePathSix}}<br><br>&nbsp;&nbsp;&nbsp;&nbsp;{{@codePathSeven}}<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{@codePathEight}}<span
          local-class="code_output"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{@codeEightOutlet}}</span><br>&nbsp;&nbsp;&nbsp;&nbsp;{{@codePathNine}}<br>{{@codePathTen}}
      </p>
    </div>
    <div local-class="article_content">
      <p>{{@paragraphEighteen}}</p>
    </div>
    <div local-class="article_content">
      <p>{{@paragraphNineteen}}</p>
    </div>
    <div local-class="article_content">
      <p>{{@paragraphTwenty}}</p>
    </div>
    {{#if @gitCodePathTwo}}
    <div local-class="code_content">
      <p>{{@codePathTwo}}<span local-class="code_output">{{@codeTwo}}</span></p>
    </div>
    {{/if}}
    <div local-class="article_content">
      <p>{{@paragraphTwentyOne}}</p>
    </div>
    <div local-class="code_content">
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;{{@codePathEleven}}<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{@codePathTwelve}}<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span local-class="code_output">{{@codeTwoOutlet}}</span><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{@codePathThirteen}}<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{@codePathFourteen}}<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span local-class="code_output">{{@codeTwoOutlet}}</span><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{@codePathFifteen}}
      </p>
    </div>
    <div local-class="article_content">
      <p>{{@paragraphTwentyTwo}}</p>
    </div>
    <div local-class="article_content">
      <p>{{@paragraphTwentyThree}}</p>
    </div>
  </div>
</div>