<div local-class="article_component_container">
  <div local-class="article_header_container">
    <div local-class="article_header">
      <h1>{{@articleTitle}}</h1>
      <p>By <a href="https://www.roderickdevelopers.com/">Roderick Developers</a> & <a href="https://github.com/orgs/Design-Monster/projects/2">Design Monster</a></p>
      <p>{{@creator}}</p>
      <p>Find it HERE: <a href="{{@blogSubjectLink}}">{{@articleTitle}}</a></p>
    </div>
  </div>
  <div local-class="article_content_container">
    <div local-class="code_content">
        <p>{{@codePathOne}}<span local-class="code_output">{{@codeOne}}</span></p>
      </div>
      <div local-class="article_content">
        <p>{{@paragraphOne}}</p>
      </div>
      <div local-class="article_content">
        <p>{{@paragraphTwo}}</p>
      </div>
      <div local-class="article_content">
        <p>{{@paragraphThree}}</p>
      </div>
       <div local-class="code_content">
        <p>{{@codePathTwo}}<span local-class="code_output">{{@codeTwo}}</span></p>
      </div>
      <div local-class="article_content">
        <p>{{@paragraphFour}}</p>
      </div>
      <div local-class="article_content">
        <p>{{@paragraphFive}}</p>
      </div>
      <div local-class="article_content">
        <p>{{@paragraphSix}}</p>
      </div>
  </div>
</div>    