<div local-class="projects_component_container">
  <div local-class="projects_content_container">
    <div local-class="projects_content_container_row top">
      <p>{{this.paragraphOne}}</p>
    </div>
    <div local-class="projects_content_container_row">
      <div local-class="projects_flipcard_container">
        <Dynamic::Ui::Card @imageFront={{this.imageFrontCardOne}} />
        <div local-class="button_container">
        <a href="https://roderickdevelopers.github.io/React_Markdown_Previewer/#/">
          <Dynamic::Ui::Button::CardButton
            @labelText={{this.siteLabel}} />
        </a>
          <button type="button"
            onclick="location.href='https://github.com/roderickdevelopers/React_Markdown_Previewer'">Code</button>
        </div>
      </div>
      <div local-class="projects_flipcard_container">
        <Dynamic::Ui::Card @imageFront={{this.imageFrontCardTwo}} @imageBack={{this.imageBackCardTwo}} />
        <div local-class="button_container">
          <button type="button" onclick="location.href='http://www.google.com'"> Site</button>
          <button type="button"
            onclick="location.href='https://github.com/Design-Monster/Sleepy-Forest-Maple'">Code</button>
        </div>
      </div>
      <div local-class="projects_flipcard_container">
        <Dynamic::Ui::Card @imageFront={{this.imageFrontCardOne}} />
        <div local-class="button_container">
          <button type="button"
            onclick="location.href='https://roderickdevelopers.github.io/React_Markdown_Previewer/#/'"> Site</button>
          <button type="button"
            onclick="location.href='https://github.com/roderickdevelopers/React_Markdown_Previewer'">Code</button>
        </div>
      </div>
      <div local-class="projects_flipcard_container">
        <Dynamic::Ui::Card @imageFront={{this.imageFrontCardOne}} />
        <div local-class="button_container">
          <button type="button"
            onclick="location.href='https://roderickdevelopers.github.io/React_Markdown_Previewer/#/'"> Site</button>
          <button type="button"
            onclick="location.href='https://github.com/roderickdevelopers/React_Markdown_Previewer'">Code</button>
        </div>
      </div>
    </div>
  </div>
</div>
