  <div local-class="blog_ember_mobile_menu_component_container">
      <div local-class="blog_ember_mobile_menu_article_container">
        <Dynamic::Article
          @articleTitle={{this.articleTitle}}
          @creator={{this.creator}}
          @blogSubjectLink={{this.blogSubjectLink}}
          @codePathOne={{this.codePathOne}}
          @codeOne={{this.codeOne}}
          @paragraphOne={{this.paragraphOne}}
          @paragraphTwo={{this.paragraphTwo}}
          @paragraphThree={{this.paragraphThree}}
          @codePathTwo={{this.codePathTwo}}
          @codeTwo={{this.codeTwo}}
          @paragraphFour={{this.paragraphFour}}
          @imageOne={{this.imageOne}}
          @paragraphFive={{this.paragraphFive}}
          @paragraphSix={{this.paragraphSix}}
        />
      </div>
  </div>
  

