  <div local-class="blog_ember_mobile_menu_component_container">
      <div local-class="blog_ember_mobile_menu_article_container">
        <Dynamic::Article
          @articleTitle={{this.articleTitle}}
          @creator={{this.creator}}
          @blogSubjectLink={{this.blogSubjectLink}}
          @paragraphOne={{this.paragraphOne}}
          @paragraphTwo={{this.paragraphTwo}}
          @paragraphThree={{this.paragraphThree}}
          @headerOne={{this.emberHeaderOne}}
          @codePathTwo={{this.emberCodePathTwo}}
          @codeTwo={{this.emberCodeTwo}}
          @paragraphFour={{this.paragraphFour}}
          @imageOne={{this.imageOne}}
          @paragraphFive={{this.paragraphFive}}
          @paragraphSix={{this.paragraphSix}}
          @headerTwo={{this.emberHeaderTwo}}
          @paragraphSeven={{this.paragraphSeven}}
          @paragraphEight={{this.paragraphEight}}
          @paragraphNine={{this.paragraphNine}}
          @paragraphTen={{this.paragraphTen}}
          @headerThree={{this.emberHeaderThree}}
          @paragraphEleven={{this.paragraphEleven}}
          @headerFour={{this.emberHeaderFour}}
          @paragraphTwelve={{this.paragraphTwelve}}
          @paragraphThirteen={{this.paragraphThirteen}}
          @paragraphFourteen={{this.paragraphFourteen}}
          @paragraphFifteen={{this.paragraphFifteen}}
          @paragraphSixteen={{this.paragraphSixteen}}
          @paragraphSeventeen={{this.paragraphSeventeen}}
          @paragraphEighteen={{this.paragraphEighteen}}
          @paragraphNineteen={{this.paragraphNineteen}}
          @paragraphTwenty={{this.paragraphTwenty}}
          @paragraphTwentyOne={{this.paragraphTwentyOne}}
          @paragraphTwentyTwo={{this.paragraphTwentyTwo}}
          @paragraphTwentyThree={{this.paragraphTwentyThree}}
          @paragraphTwentyFour={{this.paragraphTwentyFour}}
          @paragraphTwentyFive={{this.paragraphTwentyFive}}
          @paragraphTwentySix={{this.paragraphTwentySix}}
          @paragraphTwentySeven={{this.paragraphTwentySeven}}
          @paragraphTwentyEight={{this.paragraphTwentyEight}}
          @paragraphTwentyNine={{this.paragraphTwentyNine}}
          @paragraphThirty={{this.paragraphThirty}}
          @codePathOne={{emberCodePathOne}}
          @codeOne={{emberCodeOne}}
          @codePathThree={{emberCodePathThree}}
          @codeThree={{emberCodeThree}}
          @codeTwoOutlet={{emberCodeTwoOutlet}}
          @codePathFour={{emberCodePathFour}}
          @codePathFive={{emberCodePathFive}}
          @codePathSix={{emberCodePathSix}}
          @codePathSeven={{emberCodePathSeven}}
          @codePathEight={{emberCodePathEight}}
          @codePathNine={{emberCodePathNine}}
          @codePathTen={{emberCodePathTen}}
          @codePathEleven={{emberCodePathEleven}}
          @codeEightOutlet={{emberCodeEightOutlet}}
          @codePathTwelve={{emberCodePathTwelve}}
          @codePathThirteen={{emberCodePathThirteen}}
          @codePathFourteen={{emberCodePathFourteen}}
          @codePathFifteen={{emberCodePathFifteen}}

        />
      </div>
  </div>
  

