<div local-class="home_index_component_container">
  <div local-class="hero_image_content_container">
    <div local-class="hero_image_container">
      <div local-class="hero_image_content">
        <p>{{this.typingLineOne}}</p>
        <p>{{this.typingLineTwo}}</p>
        <p>{{this.typingLineThree}}</p>
      </div>
    </div>
    <div local-class="down_arrow_component_container">
      <ScrollTo @target='#about_me' @duration="1000">
        {{#if (or (media 'isLarge') (media 'isWide'))}}
        <div local-class="down_arrow_content">
          <FaIcon type="button" @icon="chevron-down" @prefix="fa" @size=3x /> 
        </div>
        {{/if}}
        {{#if (or (media 'isSmall') (media 'isMedium'))}}
        <div local-class="down_arrow_content">
          <FaIcon type="button" @icon="chevron-down" @prefix="fa" @size=1x />
        </div>
        {{/if}}
      </ScrollTo>
    </div>
  </div>
  
  <div local-class="skills_component_container_one">
    <div local-class="skills_header_container_one" id="about_me">
      <div local-class="skills_header_content_one" >
        <h1>About Me</h1>
      </div>
      <div local-class="skills_body_content_one">
        <p>{{this.paragraphOne}} </p>
        <p>{{this.paragraphTwo}}</p>
        <p>{{this.paragraphThree}}</p>
        <p>{{this.paragraphFour}} <LinkTo @route="projects">projects</LinkTo>! </p>
      </div>
    </div>
    <div local-class="skills_content_container_row_one">
      <div local-class="profile_pic">
        <picture>
          <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/profilepic.webp" type="image/webp">
          <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/profilepic.png" alt="Profile Picture">
        </picture>
      </div>
    </div>
  </div>
  {{#if (or (media 'isLarge') (media 'isWide'))}}
   <div local-class="skills_component_container_two">
    <div local-class="skills_content_container_row_two">
      <div local-class="profile_pic">
        <picture>
          <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/embersmall.webp" type="image/webp">
          <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/embersmall.png" alt="Small Ember Card">
        </picture>
        <picture>
          <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/reactsmall.webp" type="image/webp">
          <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/reactsmall.png" alt="Small React Card">
        </picture>
        <picture>
          <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/htmlsmallcard.webp" type="image/webp">
          <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/htmlsmallcard..png" alt="Small HTML Card">
        </picture>
        <picture>
          <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/csssmallcard.webp" type="image/webp">
          <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/csssmallcard.png" alt="Small CSS Card">
        </picture>
        <picture>
          <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/javascriptsmallcard.webp" type="image/webp">
          <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/javascriptsmallcard.png" alt="Small javascript Card">
        </picture>
        <picture>
          <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/gitsmall.webp" type="image/webp">
          <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/gitsmall.png" alt="Small GitHub Card">
        </picture>
        <picture>
          <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/sketch.webp" type="image/webp">
          <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/sketch.png" alt="Small Sketch Card">
        </picture>
      </div>
    </div>
    <div local-class="skills_header_container_two" id="about_me">
      <div local-class="skills_header_content_two" >
        <h1>What can I do?</h1>
      </div>
      <div local-class="skills_body_content_two">
        <p>{{this.paragraphFive}} </p>
        <p>{{this.paragraphSix}}</p>
        <p>{{this.paragraphSeven}}</p>
        <p>{{this.paragraphEight}}</p>
        <p>
          <h2>Frameworks</h2>
          <ul>
            <li>Ember.js</li>
            <li>React</li>
            <li>Vue.js (coming soon)</li>
          </ul>
        </p>
        <p>
          <h2>Essential Skills</h2>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Scss</li>
            <li>JavaScript</li>
            <li>GitHub</li>
            <li>Command line Interface</li>
            <li>Responsive Design</li>
            <li>React</li>
            <li>Ember.js</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
  {{/if}}
  {{#if (or (media 'isSmall') (media 'isMedium'))}}
  <div local-class="skills_component_container_two">
    <div local-class="skills_header_container_two" id="about_me">
      <div local-class="skills_header_content_two" >
        <h1>What can I do?</h1>
      </div>
      <div local-class="skills_body_content_two">
        <p>{{this.paragraphFive}} </p>
        <p>{{this.paragraphSix}}</p>
        <p>{{this.paragraphSeven}}</p>
        <p>{{this.paragraphEight}}</p>
        <p>
          <h2>Frameworks</h2>
          <ul>
            <li>Ember.js</li>
            <li>React</li>
            <li>Vue.js (coming soon)</li>
          </ul>
        </p>
        <p>
          <h2>Essential Skills</h2>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Scss</li>
            <li>JavaScript</li>
            <li>GitHub</li>
            <li>Command line Interface</li>
            <li>Responsive Design</li>
            <li>React</li>
            <li>Ember.js</li>
          </ul>
        </p>
      </div>
    </div>
    <div local-class="skills_content_container_row_two">
      <div local-class="profile_pic">
       <picture>
          <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/embersmall.webp" type="image/webp">
          <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/embersmall.png" alt="Small Ember Card">
        </picture>
        <picture>
          <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/reactsmall.webp" type="image/webp">
          <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/reactsmall.png" alt="Small React Card">
        </picture>
        <picture>
          <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/htmlsmallcard.webp" type="image/webp">
          <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/htmlsmallcard..png" alt="Small HTML Card">
        </picture>
        <picture>
          <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/csssmallcard.webp" type="image/webp">
          <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/csssmallcard.png" alt="Small CSS Card">
        </picture>
        <picture>
          <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/javascriptsmallcard.webp" type="image/webp">
          <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/javascriptsmallcard.png" alt="Small javascript Card">
        </picture>
        <picture>
          <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/gitsmall.webp" type="image/webp">
          <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/gitsmall.png" alt="Small GitHub Card">
        </picture>
        <picture>
          <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/sketch.webp" type="image/webp">
          <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/sketch.png" alt="Small Sketch Card">
        </picture>
      </div>
    </div>
  </div>
  {{/if}}
</div>
