<div local-class="home_index_component_container">
  <div local-class="hero_image_content_container">
    <div local-class="hero_image_container">
      <div local-class="hero_image_content">
        <p>{{this.typingLineOne}}</p>
        <p>{{this.typingLineTwo}}</p>
        <p>{{this.typingLineThree}}</p>
      </div>
    </div>
    <div local-class="down_arrow_animation_container">
      <ScrollTo @target='#about_me' @duration="1000">
        {{#if (or (media 'isLarge') (media 'isWide'))}}
        <div local-class="down_arrow">
          <FaIcon type="button" @icon="chevron-down" @prefix="fa" @size=3x />
        </div>
        {{/if}}
        {{#if (or (media 'isSmall') (media 'isMedium'))}}
        <div local-class="down_arrow">
          <FaIcon type="button" @icon="chevron-down" @prefix="fa" @size=1x />
        </div>
        {{/if}}
      </ScrollTo>
    </div>
  </div>
  <div local-class="about_me_container" id="about_me">
    <div local-class="about_me">
      <div local-class="about_me_description_container">
        <div local-class="about_me_title">
          <h1>About Me</h1>
        </div>
        <div local-class="about_me_description">
          <p>{{this.paragraphOne}}</p>
          <p>{{this.paragraphTwo}} </p>
          <p>{{this.paragraphThree}} <a href="https://www.designmonster.com/" target="_blank"
              rel="noopener noreferrer">Design Monster.</a>{{this.paragraphFour}}</p>
          <p>{{this.paragraphFive}}</p>
          <p>{{this.paragraphSix}}</p>
        </div>
      </div>
      <div local-class="about_me_image_container">
        <picture>
          <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/profilepic.webp" loading="lazy"
            type="image/webp">
          <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/profilepic.png" loading="lazy"
            alt="Profile Picture">
        </picture>
      </div>
    </div>
    <div local-class="down_arrow_animation_container">
      <ScrollTo @target='#skills' @duration="1000">
        {{#if (or (media 'isLarge') (media 'isWide'))}}
        <div local-class="down_arrow">
          <FaIcon type="button" @icon="chevron-down" @prefix="fa" @size=3x />
        </div>
        {{/if}}
        {{#if (or (media 'isSmall') (media 'isMedium'))}}
        <div local-class="down_arrow">
          <FaIcon type="button" @icon="chevron-down" @prefix="fa" @size=1x />
        </div>
        {{/if}}
      </ScrollTo>
    </div>
  </div>
  <div local-class="skills_container" id="skills">
    <div local-class="skills">
      <div local-class="small_cards">
        <picture>
          <a href="https://emberjs.com/" target="_blank" rel="noopener noreferrer">
            <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/embersmall.webp" loading="lazy"
              type="image/webp">
            <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/embersmall.png" loading="lazy"
              alt="Small Ember Card">
          </a>
        </picture>
        <picture>
          <a href="https://reactjs.org/" target="_blank" rel="noopener noreferrer">
            <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/reactsmall.webp" loading="lazy"
              type="image/webp">
            <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/reactsmall.png" loading="lazy"
              alt="Small React Card">
          </a>
        </picture>
        <picture>
          <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank"
            rel="noopener noreferrer">
            <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/htmlsmallcard.webp" loading="lazy"
              type="image/webp">
            <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/htmlsmallcard..png" loading="lazy"
              alt="Small HTML Card">
          </a>
        </picture>
        <picture>
          <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank" rel="noopener noreferrer">
            <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/csssmallcard.webp" loading="lazy"
              type="image/webp">
            <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/csssmallcard.png" loading="lazy"
              alt="Small CSS Card">
          </a>
        </picture>
        <picture>
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="noopener noreferrer">
            <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/javascriptsmallcard.webp"
              loading="lazy" type="image/webp">
            <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/javascriptsmallcard.png" loading="lazy"
              alt="Small javascript Card">
          </a>
        </picture>
        <picture>
          <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
            <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/gitsmall.webp" loading="lazy"
              type="image/webp">
            <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/gitsmall.png" loading="lazy"
              alt="Small GitHub Card">
          </a>
        </picture>
        <picture>
          <a href="https://git-scm.com/" target="_blank" rel="noopener noreferrer">
            <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/gitlogocardsmall.webp" loading="lazy"
              type="image/webp">
            <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/gitlogocardsmall.png" loading="lazy"
              alt="Small GitHub Card">
          </a>
        </picture>
        <picture>
          <a href="https://www.sketch.com/" target="_blank" rel="noopener noreferrer">
            <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/sketch.webp" loading="lazy"
              type="image/webp">
            <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/sketch.png" loading="lazy"
              alt="Small Sketch Card">
          </a>
        </picture>
      </div>
    </div>
    <div local-class="skills_title_container" id="about_me">
      <div local-class="skills_title">
        <h1>What can I do?</h1>
      </div>
      <div local-class="skills_body">
        <p>{{this.paragraphSeven}} </p>
        <p>{{this.paragraphEight}}</p>
        <p>{{this.paragraphNine}}<LinkTo @route="projects">projects</LinkTo>!</p>
        <p>
          <h2>Frameworks</h2>
          <ul>
            <li>Ember.js</li>
            <li>React</li>
            <li>Vue.js (coming soon)</li>
          </ul>
        </p>
        <p>
          <h2>Essential Skills</h2>
          <ul>
            <li>HTML/HTMLBars</li>
            <li>CSS/SCSS</li>
            <li>JavaScript</li>
            <li>Git</li>
            <li>GitHub</li>
            <li>Command line Interface</li>
            <li>Responsive Design</li>
            <li>Sketch</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
  <div local-class="back_to_top_button_container">
    <Dynamic::Ui::Buttons::BackToTop @backToTop={{this.backToTop}} />
  </div>
</div>